$primary-color: #343535;
$secondary-color: #ffffff;
$header1: 3.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$header5: 2rem;
$text:    2.5rem;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



.profile-header{
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  
    @include flex(space-between,center,row);
    h1{
      font-size: 2.5rem;
      padding-top: 2rem;
      background: rgb(94, 93, 93);
      background-clip: text;
      display: inline-block;
    }
    h2 {
      font-size: 2.5rem;
      padding-top: 2rem;
      background: rgb(94, 93, 93);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
    h3{
      font-size: 1.5rem;
      padding: 0.2rem 0rem;
    }
    h5{
      font-size: 1.25rem;
      padding: 0.2rem 0rem;
    }
    p{
      padding-top: 1rem;
      color: $grey-text;
    }
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: $header1;
  }

  h2 {
    font-size: $header2;
  }

  h3 {
    font-size: $header3;
  }

  h4 {
    font-size: $header4;
  }

  h5 {
    font-size: $header5;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      
      li {
        display: inline;
        margin: 0 10px;

        a {
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#theme-toggle, #linkedin-toggle, #github-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#theme-icon, #linkedin-icon, #github-icon {
    width: 32px;
    height: 32px;
}

body.light-mode, header.light-mode {
    background-color: $secondary-color;
    color: $primary-color;
}

body.dark-mode, header.dark-mode {
    background-color: $primary-color;
    color: $secondary-color
}