* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.profile-header {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 0;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .profile-header .header-profile {
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 0; }
  .profile-header .header-base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0; }
  .profile-header h1 {
    font-size: 2.5rem;
    padding-top: 2rem;
    background: #5e5d5d;
    background-clip: text;
    display: inline-block; }
  .profile-header h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    background: #5e5d5d;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; }
  .profile-header h3 {
    font-size: 1.5rem;
    padding: 0.2rem 0rem; }
  .profile-header h5 {
    font-size: 1.25rem;
    padding: 0.2rem 0rem; }
  .profile-header p {
    padding-top: 1rem;
    color: #2c2c2c; }
  .profile-header .social-profile {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 32px;
    height: 32px; }

#theme-toggle, #linkedin-toggle, #github-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; }

#theme-icon, #linkedin-icon, #github-icon {
  width: 25px;
  height: 25px; }

body.light-mode, header.light-mode {
  background-color: #ffffff;
  color: #343535; }

body.dark-mode, header.dark-mode {
  background-color: #343535;
  color: #ffffff; }

@media screen and (max-width: 1520px) {
  html {
    font-size: 53%; }
    html .intro-text h2 {
      font-size: 5rem; }
    html .intro-text h3 {
      font-size: 3.5rem; }
    html .intro-text p {
      font-size: 2rem; }

  .intro {
    min-height: 50vh; }

  svg {
    width: 90%; }

  nav {
    width: 80%;
    padding: 0rem 2rem; }
    nav ul {
      padding: 2rem 5rem; }
    nav .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 0rem; }

  .intro-social {
    padding: 0rem 0rem 5rem 0rem; }

  footer h4 {
    font-size: 4rem; }
  footer ul {
    padding: 0rem;
    margin: 0rem; } }
@media screen and (max-width: 850px) {
  html {
    font-size: 45%; }

  nav {
    width: 90%;
    margin: 2rem;
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    nav .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    nav ul {
      padding: 0rem 2rem; }
    nav li {
      padding: 0rem 1.57rem; }

  .splash {
    display: none; }

  .intro-images {
    background: url("/Portfolio/img/splash.png");
    background-repeat: no-repeat;
    background-size: contain; }

  .travelly,
  .chris-project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 50rem; }

  footer h4 {
    font-size: 3rem; }
  footer ul {
    padding: 0rem;
    margin: 0rem; }
  footer img {
    width: 5rem; }

  .intro-image {
    display: none; }

  form {
    padding: 0rem;
    size: 100%; } }

/*# sourceMappingURL=styles.css.map */
