* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-main {
  padding-top: 6rem;
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: top;
  border-radius: 25px;
  border: 2px solid #707070;
  overflow: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.spacer {
  height: 20px; }

.profile-pic-container {
  display: inline-block;
  border-radius: 3rem;
  position: relative;
  top: -30px;
  z-index: 2; }
  .profile-pic-container.light-mode {
    border: 5px solid rgba(0, 0, 0, 0.05);
    background-color: #b4b4b4;
    color: #343535; }
  .profile-pic-container.dark-mode {
    border: 5px solid rgba(0, 0, 0, 0.05);
    background-color: #23262b;
    color: #f0f0f0; }

.profile-pic {
  display: inline-block;
  border-radius: 3rem;
  position: relative;
  z-index: 2; }
  .profile-pic.light-mode {
    border: 5px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    color: #343535; }
  .profile-pic.dark-mode {
    border: 5px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    color: #f0f0f0; }

.profile-header {
  border: 2rem;
  display: inline-block;
  border-color: #1d1e24;
  margin: 20px; }

.profile-header {
  --header-height: 11.5vh;
  width: 97%;
  background-color: #b4b4b4;
  height: 12vh;
  position: relative;
  border-radius: 2.5rem;
  justify-content: space-between;
  /* Ensure space between left and right */
  align-items: center;
  /* Vertically centers the items */
  text-align: left;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .profile-header .header-left {
    top: 0;
    flex: 0 0 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    z-index: 3; }
    .profile-header .header-left .parent {
      position: relative;
      /* Ensures the child is positioned relative to this container */ }
    .profile-header .header-left .header-profile {
      margin-right: 10px;
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 10px; }
    .profile-header .header-left .header-base {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0rem;
      margin: 0; }
      .profile-header .header-left .header-base .name, .profile-header .header-left .header-base .job-title, .profile-header .header-left .header-base .social-profiles {
        padding-left: 2rem; }
      .profile-header .header-left .header-base .social-profiles {
        padding-top: .75rem; }
  .profile-header .divider {
    width: 2px;
    background-color: #b4b4b4;
    height: calc(var(--header-height) * 0.8);
    align-self: stretch;
    /* Ensures the divider spans the full height */
    margin-top: 12px;
    /* Adjust to drop the divider down */
    align-items: center;
    z-index: 10; }
  .profile-header .right-header {
    flex: 0 0 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    z-index: 3; }
    .profile-header .right-header .profile-email,
    .profile-header .right-header .profile-location,
    .profile-header .right-header .profile-resume,
    .profile-header .right-header .profile-status {
      padding: 1rem; }
    .profile-header .right-header .profile-details {
      display: flex;
      flex: 0 0 55%;
      flex-direction: column;
      align-items: flex-start;
      margin: 0; }
    .profile-header .right-header .profile-resume {
      display: flex;
      flex: 0 0 35%;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      margin: 0; }
  .profile-header.light-mode {
    background-color: #b4b4b4;
    color: #343535; }
  .profile-header.dark-mode {
    background-color: #23262b;
    color: #f0f0f0; }
  .profile-header h1 {
    font-size: 2.5rem;
    background-clip: text;
    display: inline-block; }
  .profile-header h2 {
    font-size: 2.5rem;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; }
  .profile-header h3 {
    font-size: 1.75rem; }
  .profile-header h5 {
    font-size: 1.25rem; }

.main-body {
  display: flex;
  /* Flexbox layout */
  height: 100vh;
  margin: 0; }

.side-bar {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 40vh;
  padding: 2rem;
  border-radius: 3rem;
  /* Rounded corners */
  background-color: #e0e0e0; }
  .side-bar.light-mode {
    background-color: #f5f5f5;
    color: #b4b4b4; }
  .side-bar.dark-mode {
    background-color: #23262b;
    color: #b4b4b4; }
  .side-bar nav {
    width: 100%; }
  .side-bar .nav {
    list-style: none;
    /* Remove default list styling */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */ }
    .side-bar .nav .nav_item {
      width: 100%;
      /* Full width to fit the sidebar */
      box-sizing: border-box;
      height: 8rem;
      padding: 0;
      /* Remove extra padding to avoid misalignment */
      margin-bottom: 2rem;
      /* Space between items */
      border-radius: 3rem;
      /* Rounded corners */
      background-color: #2E2F36;
      /* Default background color */
      text-align: center;
      /* Center the text */
      transition: background-color 0.3s ease;
      /* Smooth transition for hover */
      display: flex;
      /* Flexbox to ensure full coverage */
      align-items: center;
      /* Center content vertically */
      justify-content: center;
      /* Center content horizontally */ }
      .side-bar .nav .nav_item img {
        filter: invert(0) brightness(1);
        /* Default state */ }
      .side-bar .nav .nav_item:hover, .side-bar .nav .nav_item.active {
        background-color: #007bff;
        /* Hover background color */
        color: white; }
        .side-bar .nav .nav_item:hover .nav-button img, .side-bar .nav .nav_item.active .nav-button img {
          filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg);
          /* Optional: Invert image colors on hover */ }
      .side-bar .nav .nav_item.light-mode {
        background-color: #e7e7e7;
        color: #343535; }
        .side-bar .nav .nav_item.light-mode:hover img, .side-bar .nav .nav_item.light-mode.active img {
          filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg);
          /* Slightly darker on hover */ }
      .side-bar .nav .nav_item.dark-mode {
        background-color: #555;
        color: #f0f0f0; }
        .side-bar .nav .nav_item.dark-mode:hover, .side-bar .nav .nav_item.dark-mode.active {
          background-color: #444;
          /* Slightly darker on hover */ }
      .side-bar .nav .nav_item .nav-button {
        display: flex;
        flex-direction: column;
        /* Stack the icon and text vertically */
        align-items: center;
        justify-content: center;
        /* Center the button content */
        width: 100%;
        /* Make the button fill the item */
        height: 100%;
        /* Make the button fill the item */
        border-radius: 10px;
        background-color: transparent;
        /* Set to transparent so the hover effect on .nav_item is visible */
        color: white;
        text-decoration: none;
        /* Remove underline */
        cursor: pointer; }
        .side-bar .nav .nav_item .nav-button img {
          margin-bottom: 0.1rem;
          /* Space between the image and the text */
          width: 6rem;
          /* Adjust the size of the icon */
          height: 6rem;
          stroke-width: 1; }

.main-panel {
  flex-grow: 1;
  padding: 0;
  box-sizing: border-box; }

.main-panel iframe {
  border-radius: 5rem;
  /* Optional: round the corners */
  border: none; }
  .main-panel iframe .dark-mode .main-panel {
    background-color: #1e1e1e;
    color: white; }
  .main-panel iframe .light-mode .main-panel {
    background-color: white;
    color: black; }

.main-content {
  width: 75%;
  /* Main content takes up the remaining 75% */
  padding: 20px;
  /* Space inside the main content */
  margin-left: auto;
  /* Pushes the content to the right side */
  background-color: #fff;
  /* Default background color for the main content */
  border-radius: 10px;
  /* Optional: round the corners */ }
  .main-content.light-mode {
    background-color: #ffffff;
    /* Light mode background color */
    color: #343535;
    /* Text color for light mode */ }
  .main-content.dark-mode {
    background-color: #222;
    /* Dark mode background color */
    color: #f0f0f0;
    /* Text color for dark mode */ }

body {
  padding-top: 2rem; }

#theme-toggle,
#linkedin-toggle,
#github-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; }

#theme-icon,
#linkedin-icon,
#github-icon {
  width: 20px;
  height: 20px; }

ul {
  list-style: none;
  /* Removes bullets */
  padding: 0;
  /* Optional: Removes default padding */
  margin: 0;
  /* Optional: Removes default margin */ }

li {
  margin: 0;
  /* Optional: Adjusts margin */
  padding: 0;
  /* Optional: Adjusts padding */ }

body {
  padding-top: 2rem;
  color: #1d1e24;
  /* Default text color */
  background-color: #ffffff;
  /* Default background color */ }

body.light-mode,
header.light-mode {
  background-color: #ffffff;
  color: black; }

body.dark-mode,
header.dark-mode {
  background-color: #1d1e24;
  color: white; }

h1, h2, h3, h4, h5, p {
  color: inherit; }

/*# sourceMappingURL=styles.css.map */
